html {
    height: 100%;
}
body {
	width: 100%;
	height: 100%;
    overflow: hidden;
}

.search-box .search-input,
.search-box .search-input:focus {
	width: 250px;
	border-width: 0px !important;
}

#header {
	top: 0px;
    display: block;
    height: 60px;
}

#wrapper {
	padding: 60px 0 0;
}

#content {
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding-left: 320px;
	position: relative;
	box-sizing: border-box;
    top: auto;
}

#content #nav {
	width: 320px;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	
}

#tabs {
    position: relative;
	padding-top: 32px;
    box-sizing: border-box;
    height: 100%;
}
.ui-tabs-panel {
    height: 100%; overflow: auto;
}
.ui-tabs .ui-tabs-nav {
    position: absolute;
    top: 5px;
    width: 100%;
}
.ui-tabs .ui-tabs-nav li {
	margin: 0 0 0 2px;
}
#search {
    overflow: hidden;
    padding-top: 68px;
    box-sizing: border-box;
    position: relative;
}
.search-div {
    position: absolute;
    top: 0;
    width: 100%;
}
#search-result {
    height: 100%;
    overflow: auto;
}
#content #info {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border-left: 1px #ccc solid;
}