.default{
	color: #272727;
	font-family: "Verdana";
	font-size: 14;
}

.labelText_select {
	color: #272727;
}

.ruleLabel {
	color: #272727;
}

.text_dayBoard{
	color: #272727;
	font-family: "Verdana";
	font-size: 13;
	font-weight:bold;
}
Screen{
	width: 500;
	height:300;
}

RecordSchedule{
	flex-lib:http://172.7.205.105:7080;
	background-color:0xF5F5F5;
	background-alpha: 1;
	background-colors: 0xF7F9E8, 0xF7F9E8;
	/*background-colors: 0xffffff, 0x707070, 0xffffff;*/
	background-alphas: 0, 127, 255;
	background-ratios: 0, 127, 255;
	background-rotation: 90;
	
	line-thickness:2;
	line-color:0xb9c9d1;
	line-alpha:1;
	
	/*ellipse-width: 0;
	ellipse-height: 0;
	line-thickness:5;
	line-color:0x000000;
	line-alpha:1;
	line-pixelHinting:false;
	line-scaleMode:normal;
	/*line-caps
	line-joints
	line-miterLimit:3;
	matrix-rotation:90;
	lineg-type:linear;
	lineg-colors:0xFF0000,0x000000;
	lineg-alphas:1,1;
	lineg-ratios:0,255;
	lineg-type:linear;
	lineg-spread: pad;
	lineg-interpolation: rgb;
	lineg-focalPointRatio: 0;*/
}

Rule{
	background-color:0xF7F9E8;
	background-alpha: 1;
	background-colors: 0xF7F9E8, 0xF7F9E8;
	background-alphas: 1, 1;
	background-ratios: 0, 255;
	background-rotation: 90;
	
	line-thickness:1;
	line-alpha:1;
	line-in-color:0xCFD3AD;
	
	height:25;
	x:0;
	textY:5;
	left-space:130;
	
	left-space-date:25;
	labelValues: 00:00,03:00,06:00,09:00,12:00,15:00,18:00,21:00,24:00;
}
ButtonBar{
	type-list:del,delAll,copy,add;
	text-list:删除,清空,复制到其他日期,添加;
	icon-list:del.png,del_all.png,copy.png,add.png;
	horizontalGap: 20;
	background-color:0xF5F5F5;
	background-alpha: 1;
	background-colors: 0xf0f0f0, 0xf0f0f0;
	background-alphas: 1, 1;
	background-ratios: 0, 255;
	background-rotation: 90;
	height:0;
	buttonY:4;
	buttonDistance:6;
	
	beginX:10;
	
	line-thickness:1;
	line-color:0x868686;
}
Button_downState{
	background-colors: 0xeaf3fa, 0xeaf3fa;
	background-alphas: .1, .1;
	background-ratios: 0, 255;
	background-rotation: 90;
	ellipse-width: 8;
	ellipse-height: 8;
	line-color:0x868686;
	line-thickness:2;
}
Button_overState{
	background-colors: 0xe0f0f0, 0xd0e0f0;
	background-alphas: .2, .2;
	background-ratios: 0, 255;
	background-rotation: 90;
	ellipse-width: 8;
	ellipse-height: 8;
	line-color:0x868686;
	line-thickness:2;
}
Button_upState{
	background-color:0xffffff;
	background-alpha: 0.0;
	background-alphas: 0.3, 0.3;
	background-ratios: 0, 255;
	background-rotation: 90;
	ellipse-width: 8;
}

Button{
	iconHeight:20;
	iconX:10;
	iconDistance:5;
}


DayBoard{
	height:50;
	/*dayName:1,2,3,4,5,6,7;*/
	left-space:130;
	left-space-date:25;
	background-left:0xF7F9E8;
	background-right:0xFFFFFF;
	background-click:0xf0f0f0;
	light-line:0XCDD7AF;
	dark-line:0XCFD3AD;
	line-one:0XC0D0A0;
	/*line-two:0xedf7ff;*/
	line-two:0XCDD7AF;
	line-three:0XC9D9A1;
	
	x:0;
	y:55;
}


YellowRecordStick{
	background-alpha: 1;
	background-colors: 0xe29111, 0xbe6100;
	line-color:0XC9D9A1;
	background-alphas: 1, 1;
	background-ratios: 0, 255;
	background-rotation: 90;
}

BlueRecordStick{
	background-alpha: 1;
	background-colors: 0x61b0e2, 0x0d6dc0;
	line-color:0XC9D9A1;
    
	background-alphas: 1, 1;
	background-ratios: 0, 255;
	background-rotation: 90;
}
RedRecordStick{
	background-alpha: 1;
	background-colors: 0xe261b0, 0xc00d6d;
	line-color:0XC9D9A1;
    
	background-alphas: 1, 1;
	background-ratios: 0, 255;
	background-rotation: 90;
}

GreenRecordStick{
	background-alpha: 1;
	background-colors: 0x61e2b0, 0x0dc06d;
	line-color:0XC9D9A1;
    
	background-alphas: 1, 1;
	background-ratios: 0, 255;
	background-rotation: 90;
}
BlackRecordStick{
	background-alpha: 1;
	background-colors: 0x616161, 0x0d0d0d;
	line-color:0XC9D9A1;
    
	background-alphas: 1, 1;
	background-ratios: 0, 255;
	background-rotation: 90;
}

bar_static{
	background-color:0xF7F9E8;
	background-alpha: 1;
	background-colors: 0xF7F9E8,0xF7F9E8;
	background-alphas: 1, 1;
	background-ratios: 0, 127;
	background-rotation: 0;
	
	line-thickness:1;
	line-color:0x868686;
	line-alpha:1;
	line-in-color:0xC7C7C7;
	
}
bar_null{
	background-color:0xF9F8F4;
	background-alpha: 1;
	background-colors: 0xF9F8F4,0xF9F8F4;
	background-alphas: 1, 1;
	background-ratios: 0, 255;
	background-rotation: 0;
	
	line-thickness:1;
	line-color:0xC7C7C7;
	line-alpha:1;
	
}
bar_move{
	background-color:0xF9F8F4;
	background-alpha: 1;
	background-colors: 0xF0F0F0,0xF0F0F0;
	background-alphas: 1, 1;
	background-ratios: 0, 255;
	background-rotation: 0;
	
	line-thickness:1;
	line-color:0xC7C7C7;
	line-alpha:1;
}
bar_move_down{
	background-color:0xF9F8F4;
	background-alpha: 1;
	background-colors: 0xF0F0F0,0xF0F0F0;
	background-alphas: 1, 1;
	background-ratios: 0, 255;
	background-rotation: 0;
	
	line-thickness:1;
	line-color:0xC7C7C7;
	line-alpha:1;
}
ScrollBar{
	bars-color: 0xF9F8F4;
	bars-radius: 3;
	move-color: 0xe6f0fa;
}

disableCanvas{
	background-color:0xcdcdcd;
	background-alpha: 0.5;
}

Calendar{
	background-color:0xc7c7c7;
	outline-color:0x7e7e7e;
	innerline-color:0x9b9b9b;
	light-color:0xdddddd;
	split-line-color:d5d5d5;
	weekname-color:0x606060;
	day-in-month-color:0x000000;
	day-not-in-month-color:0xa4a4a4;
	today-color:0xd86200;
	day-mouse-in-color:0x9ac6f9;
	weekname-background-color:0xf2f2f2;
	day-background-color:0xfffff;
	button-text-color:0x000000;
	button-image-color:0x4b4b4b;
}

Calendar_Button_downState{
	background-colors: 0xc4c4c4, 0xe1e1e1, 0xd2d2d2;
	background-alphas: 1,1,1;
	background-ratios: 0, 127, 255;
	background-rotation: 90;
	ellipse-width: 0;
	ellipse-height: 0;
	line-color:0x7e7e7e;
	line-thickness:1;
}
Calendar_Button_overState{
	background-colors: 0xececec, 0xe4e4e4,0xd8d8d8;
	background-alphas: 1,1,1;
	background-ratios: 0, 127, 255;
	background-rotation: 90;
	ellipse-width: 0;
	ellipse-height: 0;
	line-color:0x7e7e7e;
	line-thickness:1;
}
Calendar_Button_upState{
	background-color:0xffffff;
	background-alpha: 0.0;
	background-alphas: 0.3, 0.3;
	background-ratios: 0, 255;
	background-rotation: 90;
	ellipse-width: 2;
}

Calendar_Buttonbar_upState{
	background-colors: 0xdcdcdc, 0xd6d6d6,0xcccccc;
	background-alphas: 1,1,1;
	background-ratios: 0, 127, 255;
	background-rotation: 90;
	ellipse-width: 0;
	ellipse-height: 0;
	line-color:0x7e7e7e;
	line-thickness:1;	
}

Calendar_Buttonbar_downState{
	background-colors: 0xc4c4c4, 0xe1e1e1, 0xd2d2d2;
	background-alphas: 1,1,1;
	background-ratios: 0, 127, 255;
	background-rotation: 90;
	ellipse-width: 0;
	ellipse-height: 0;
	line-color:0x7e7e7e;
	line-thickness:1;
}
Calendar_Buttonbar_overState{
	background-colors: 0xececec, 0xe4e4e4,0xd8d8d8;
	background-alphas: 1,1,1;
	background-ratios: 0, 127, 255;
	background-rotation: 90;
	ellipse-width: 0;
	ellipse-height: 0;
	line-color:0x7e7e7e;
	line-thickness:1;
}